---

---
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ "assets/bootstrap/bootstrap.css" | relative_url }}">
		<link rel="stylesheet" type="text/css" href="{{ "assets/bootstrap/bootstrap-theme.css" | relative_url }}">
		<link rel="stylesheet" type="text/css" href="{{ "assets/kb.css" | relative_url }}">
		<script type="text/javascript" src="{{ "assets/jquery-3.2.1.min.js" | relative_url }}"></script>
		<script type="text/javascript" src="{{ "assets/bootstrap.min.js" | relative_url }}"></script>
		<script type="text/javascript" src="{{ "assets/kb.js" | relative_url }}"></script>
	</head>
	<body>

<div class="container">

<div class="row">
	&nbsp;
</div>

<div class="row">
	<div class="col-md-3 navbar">
		{% include generateDynamicMenu.html root="" listClass="nav" activeClass="nav-active" %}
	</div>
	<div class="col-md-9">
		{{ content }}
	</div>
</div>

</div>

	</body>
</html>